.weatherDataCont{
    background: rgba(210, 210, 210, 0.5);
    height: 100px;
    line-height: 100px;
    border-radius: 6px;
    margin: 15px;
      
}

.weatherTemperatureCont{
    width: 60%;
    display: inline-block;
}

.temperature{

    font-size: 30px;
    font-weight: bold;
    padding-left: 15px;
    color: #333;
}

.temperatureType{
    font-weight: bold;
    color: #666;
}

.wicon{
    color: rgb(233, 142, 39);

}
.weatherExtraInfoCont{
    width: 40%;
    display: inline-block;
    line-height: 28px;
    text-align: left;
    
}

.extraInfoText {
    display: block;
    color: rgb(26, 98, 165);
    font-size: 15px;
    font-weight: bold;
}